@import "@/scss/index.scss";

.filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.filter-buttons {
  display: flex;
  gap: 10px;

  &__item {
    background: $linear-grey-gradient;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    &:disabled {
      color: $black;
      background: lighten($light-green, 30%);
    }

    &.clear-completed {
      background: $light-grey;

      &:disabled {
        border: none;
        cursor: default;
        opacity: 0.7;
      }
    }
  }
}
