@import "@/scss/index.scss";

.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;

  &__item {
    background: $linear-grey-gradient;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    &:disabled {
      color: $black;
      border: 2px solid black;
    }

    &.clear-completed {
      background: $light-grey;

      &:disabled {
        border: none;
        cursor: default;
        opacity: 0.7;
      }

    }
  }
}
