@import "@/scss/index.scss";

.search {
  position: relative;

  &__input {
    width: 820px;
    padding: 1rem;
    max-height: 3rem;
    border: 2px solid var(--border-primary);
    border-radius: 5px;
    background-color: var(--input-background);
    font-size: 1.25rem;
    margin-top: 10px;

    @include onBig-tablet {
      width: 560px;
    }

    @include onMobile {
      width: 320px;
    }

  }

  &__clear-icon {
    position: absolute;
    right: 15px;
    top: 25px;
    opacity: 0.3;
    width: 18px;
    height: 18px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

  }

}
