@import "@/scss/index.scss";

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.enter-block {
  padding: 20px;
  border: 2px solid $black;
  border-radius: 15px;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.validation-message {
  margin-top: 5px;
  color: $error;
}
