@import "@/scss/index.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  color: $white;

  @include onMobile {
    padding: 40px 0;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    @include onMobile {
      flex-direction: column;
    }
  }

  &__text {
    font-size: 40px;
    font-weight: 400;
  }

  &__logout {
    position: absolute;
    top: 20px;
    right: 100px;
  }

}
