@import "@/scss/index.scss";

.todo-dashboard {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  padding: 0 10px;
  gap: 20px;

  @include onBig-tablet {
    align-items: center;
  }

  @include onMobile {
    flex-direction: column;
  }
}

.nothing-found-message {
  font-weight: bold;
}
