@import "./colors.scss";
@import "./theme.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $black;
}

ul {
  list-style-type: none;
}

html {
  font-size: 16px;
}

body {
  font-family: BrutalType;
  background: var(--background-primary);
  color: var(--text-primary);
  font-style: normal;
  line-height: normal;
}

input:focus {
  outline: none;
}
