@import "@/scss/index.scss";

.todo-input {
  width: 760px;
  padding: 1rem;
  max-height: 3rem;
  border: none;
  border-radius: 5px;
  background-color: $light-blue;
  font-size: 1.25rem;

  @include onBig-tablet {
    width: 500px;
  }

  @include onMobile {
    width: 300px;
  }
}
