@import "@/scss/index.scss";

.todo-input {
  width: 760px;
  padding: 1rem;
  max-height: 3rem;
  border: 2px solid var(--border-primary);
  border-radius: 5px;
  background-color: var(--input-background);
  font-size: 1.25rem;

  @include onBig-tablet {
    width: 500px;
  }

  @include onMobile {
    width: 260px;
  }
}
