@import "./colors.scss";

// for light theme
@mixin light-theme {
    --background-primary: #{$green};
    --background-secondary: #{$linear-grey-gradient};
    --background-active: #{$light-grey};
    --input-background: #{$light-blue};
    --border-primary: #{$light-grey};
    --button-primary: #{$green};
    --button-secondary: #{$light-grey};
    --button-active: #{$light-green};
    --button-primary-hover: #{darken($green, 10%)};
    --button-secondary-hover: #{darken($light-grey, 10%)};
    --border-primary: #{$light-grey};
    --text-primary: #{$black};
    --text-secondary: #{$light-blue};
}

// for dark theme
@mixin dark-theme {
    --background-primary: #{$dark-grey};
    --background-secondary: #{$medium-grey};
    --background-active: #{$green};
    --input-background: #{$medium-grey};
    --border-primary: #{$dark-grey};
    --button-primary: #{$green};
    --button-secondary: #{$light-grey};
    --button-active: #{$light-green};
    --button-primary-hover: #{darken($green, 10%)};
    --button-secondary-hover: #{darken($light-grey, 25%)};
    --border-primary: #{$black};
    --text-primary: #{$light-grey};
    --text-secondary: #{$light-blue};
}
